<%- include('../partials/adminPartial.ejs') %>
  <!-- Table Start -->
  <div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Product</h6>
                <div class="table-responsive">
                    <table id="tableform" class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Category</th>
                                <th scope="col">price</th>
                                <th scope="col">Size</th>
                                <th scope="col">Image</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% productData.forEach((data)=>{ %>
                            <tr>
                                <td><%= data.name %></td>
                                <td><%= data.description %></td>
                                <td><%= data.category %></td>
                                <td><%= data.price %></td>
                                <td><%= data.size %></td>
                                <td><img style="width:50px; height:50px" src="/admin/products/<%= data.name%>.jpg" alt=""></td>
                                <td><a href="/admin/edit?name=<%= data.name %>" class="btn btn-secondary">Edit</a></td>
                                <td><a href="/admin/delete?name=<%= data.name %>" class="btn btn-danger" onclick="return confirm('Do you want to delete')">Delete</a></td>
                            </tr>
                            <%})%>
                        </tbody>
                    </table>
                    <div class="text-center mb-2">
                        <a href="/admin/addProduct" class="btn btn-secondary">Add Product</a>
                        </div>
                </div>          
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- Table End -->
