<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>KICKS</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="/user/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/user/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/user/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/user/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="/user/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="user/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="/user/assets/css/theme.css" rel="stylesheet">

     <!-- Css Styles -->
     <link rel="stylesheet" href="/user/assets/css/bootstrap.min.css" type="text/css">
     <!-- <link rel="stylesheet" href="/user/assets/css/font-awesome.min.css" type="text/css">
     <link rel="stylesheet" href="/user/assets/css/elegant-icons.css" type="text/css"> -->
     <link rel="stylesheet" href="/user/assets/css/magnific-popup.css" type="text/css">
     <link rel="stylesheet" href="/user/assets/css/nice-select.css" type="text/css">
     <link rel="stylesheet" href="/user/assets/css/owl.carousel.min.css" type="text/css">
     <link rel="stylesheet" href="/user/assets/css/slicknav.min.css" type="text/css">
     <link rel="stylesheet" href="/user/assets/css/style.css" type="text/css">



  </head>

  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <div>
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand d-inline-flex" href="/"><span class="text-1000 fs-0 fw-bold ms-2">KICKS</span></a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item px-2"><a class="nav-link fw-medium" href="/shop">SHOP</a></li>
              <% allCategory.forEach((categories)=>{ %>
                <li class="nav-item px-2"><a class="nav-link fw-medium" href="#outlet"><%= categories.categories %></a></li>
                <%})%>
            </ul>
            <form class="d-flex">
              <a class="text-1000" href="/cart">
                <svg class="feather feather-shopping-cart me-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <circle cx="9" cy="21" r="1"></circle>
                  <circle cx="20" cy="21" r="1"></circle>
                  <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                </svg>
              </a>
                <a class="text-1000" href="#!">
                <svg class="feather feather-search me-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <circle cx="11" cy="11" r="8"></circle>
                  <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
              </a>
                <a class="text-1000" href="/getprofile">
                <svg class="feather feather-user me-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg>
              </a>
                <a class="text-1000" href="/wishlist">
                <svg class="feather feather-heart me-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                </svg>
              </a>
              <a class="text-1000" href="/logout">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out">
                  <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line>
                </svg>
              </a>
            </form>
          </div>
        </div>
      </nav>
    

      <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <form action="/postEditAccount" method="post">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Edit Your Profile</h4>
                    </div>
                    
                    <div class="row mt-3">
                        
                        <div class="col-md-12"><label class="labels">Name</label><input type="text" class="form-control" placeholder="name" name="name" value="<%=userdata.name%> "></div>
                        <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" name="number" value="<%=userdata.number%> "></div>
                        <div class="col-md-12"><label class="labels">Password</label><input type="password" class="form-control" placeholder="Password" value="<%=userdata.password%> " readonly></div>
                        <!-- <a class="text-danger mt-2" href="/changePassword">&nbsp &nbspChange Password</a> -->
                    
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Changes</button></div>
                </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

      <script>
        function eiditForm(form) {
  let name = document.getElementById("username");
  let housename = document.getElementById("housename");
  let street = document.getElementById("street");
  let city = document.getElementById("city");
  let state = document.getElementById("state");
  let pincode = document.getElementById("pincode");

  var regex = /^[a-zA-Z\s]+$/;
  if (name.value == "") {
    document.getElementById("userNameError").innerHTML =
      "please enter your name";
    name.focus();
    return false;
  }
  if (regex.test(name.value) === false) {
    document.getElementById("userNameError").innerHTML =
      "fullname should be alphabets";
    fullname.focus();
    return false;
  }
  if (housename.value == "") {
    document.getElementById("houseError").innerHTML =
      "please enter your house name";
    housename.focus();
    return false;
  }
  if (regex.test(housename.value) === false) {
    document.getElementById("houseError").innerHTML =
      "housename should be alphabets";
    housename.focus();
    return false;
  }
  if (street.value == "") {
    document.getElementById("streetError").innerHTML = "please enter your street";
    street.focus();
    return false;
  }
  if (regex.test(street.value) === false) {
    document.getElementById("streetError").innerHTML = "street should be alphabets";
    street.focus();
    return false;
  }
  if (city.value == "") {
    document.getElementById("cityError").innerHTML = "please enter your city";
    city.focus();
    return false;
  }
  if (regex.test(city.value) === false) {
    document.getElementById("cityError").innerHTML = "city should be alphabets";
    city.focus();
    return false;
  }
  if (state.value == "") {
    document.getElementById("stateError").innerHTML = "please enter your state";
    state.focus();
    return false;
  }
  if (regex.test(state.value) === false) {
    document.getElementById("stateError").innerHTML =
      "state should be alphabets";
    state.focus();
    return false;
  }
  if (pincode.value == "") {
    document.getElementById("pincodeError").innerHTML =
      "please enter your pincode";
    pincode.focus();
    return false;
  }

  if (isNaN(pincode.value)) {
    document.getElementById("pincodeError").innerHTML =
      "pincode should be digits";
    pincode.focus();
    return false;
  }
  return true;
}
      </script>
      <%- include('../partials/user_footer.ejs') %>      