<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>KICKS</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="/user/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/ser/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/user/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/user/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="/user/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="/user/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="/user/assets/css/theme.css" rel="stylesheet">



  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand d-inline-flex" href="/"><span class="text-1000 fs-0 fw-bold ms-2">KICKS</span></a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item px-2"><a class="nav-link fw-medium" href="/shop">SHOP</a></li>
              <% allCategory.forEach((categories)=>{ %>
              <li class="nav-item px-2"><a class="nav-link fw-medium" href="/categoryfilter/<%= categories.categories %>"><%= categories.categories %></a></li>
              <%})%>
              <li class="nav-item px-2"><a class="nav-link fw-medium" href="/login">Login</a></li>

            </ul>
            <form class="d-flex"><a class="text-1000" href="/login">
                <svg class="feather feather-shopping-cart me-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <circle cx="9" cy="21" r="1"></circle>
                  <circle cx="20" cy="21" r="1"></circle>
                  <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                </svg></a><a class="text-1000" href="/login">
                <svg class="feather feather-heart me-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                </svg></a></form>
          </div>
        </div>
      </nav>

       <!-- Shop Details Section Begin -->
    <section class="shop-details">
      <div class="product__details__pic">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="product__details__breadcrumb">
                          <a href="./index.html">Home</a>
                          <a href="./shop.html">Shop</a>
                          <span>Product Details</span>
                      </div>
                  </div>
              </div>
              <div class="row justify-content-center">
                  <div class="col-lg-6 col-md-9">
                      <div class="tab-content">
                          <div class="tab-pane active" id="tabs-1" role="tabpanel">
                              <div class="product__details__pic__item">
                                  <img src="/admin/products/<%= data.name%>.jpg" alt="">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class=" product__details__content">
          <div class="container">
              <div class="row d-flex justify-content-center">
                  <div class="col-lg-8">
                      <div class="product__details__text">
                          <h4><%= data.name %></h4>
                          <h3>$<%= data.price %></h3>
                          <p><%= data.description %></p>
                          <div class="product__details__option">
                              <div class="product__details__option__size">
                                  <span>Size:</span>
                                  <label for="xxl"><%= data.size %>
                                      <input type="radio" id="xxl">
                                  </label>
                              </div>
                          </div>
                          <div class="product__details__cart__option">
                              
                              <a><button class="btn btn-dark" onclick="return addToCart('<%= data._id %>')">+ Add To Cart</button></a>
                          </div>
                          <div class="product__details__btns__option">
                              <!-- <a href="#"><i class="fa fa-heart"></i> add to wishlist</a> -->
                              
                          </div>
                          <div class="product__details__last__option">
                              <h5><span>Guaranteed Safe Checkout</span></h5>
                              
                              <ul>
                                 
                                  <li><span>Categories:</span> <%= data.category%></li>
                                 
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Shop Details Section End -->

      <!-- Footer Section Begin -->
      <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                       
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </footer>
    <!-- Footer Section End -->


    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="/user/vendors/@popperjs/popper.min.js"></script>
    <script src="/user/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/user/vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="/user/vendors/feather-icons/feather.min.js"></script>
    <script>
      feather.replace();
    </script>
    <script src="/user/assets/js/theme.js"></script>

      <!-- Js Plugins -->
      <script src="/user/assets/js/jquery-3.3.1.min.js"></script>
      <script src="/user/assets/js/bootstrap.min.js"></script>
      <script src="/user/assets/js/jquery.nice-select.min.js"></script>
      <script src="/user/assets/js/jquery.nicescroll.min.js"></script>
      <script src="/user/assets/js/jquery.magnific-popup.min.js"></script>
      <script src="/user/assets/js/jquery.countdown.min.js"></script>
      <script src="/user/assets/js/jquery.slicknav.js"></script>
      <script src="/user/assets/js/mixitup.min.js"></script>
      <script src="/user/assets/js/owl.carousel.min.js"></script>
      <script src="/user/assets/js/main.js"></script>

      <script>
        function addToCart(proId){
            $.ajax({
                url:"/addcart/"+proId,
                method:"get",
                success:(response)=>{
if(response.status){
    let count = $('#cartCount').html()
    count=parseInt(count)+1
    $('#cartCount').html(count)
}
                }
            })
        }
      </script>

    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
  </body>

</html>
