<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>KICKS</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="/user/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/ser/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/user/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/user/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="/user/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="/user/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="/user/assets/css/theme.css" rel="stylesheet">



  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand d-inline-flex" href="/"><span class="text-1000 fs-0 fw-bold ms-2">KICKS</span></a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- <li class="nav-item px-2"><a class="nav-link fw-medium" href="/shop">SHOP</a></li>
              <% allCategory.forEach((categories)=>{ %>
              <li class="nav-item px-2"><a class="nav-link fw-medium" href="/categoryfilter/<%= categories.categories %>"><%= categories.categories %></a></li>
              <%})%> -->
              <li class="nav-item px-2"><a class="nav-link fw-medium" href="/login">Login</a></li>

            </ul>
           
          </div>
        </div>
      </nav>
      <section class="bg-light-gradient border-bottom border-white border-5">
        <!-- <div class="bg-holder overlay overlay-light" style="background-image:url(user/assets/img/gallery/header-bg.png);background-size:cover;">
        </div> -->
        <!--/.bg-holder-->

        <div class="container">
          <div class="row flex-center">
            <div class="col-12 mb-5">
              <div class="d-flex align-items-center flex-column">
                <h1 class="fw-normal"> With an outstanding style, only for you</h1>
                <h1 class="fs-4 fs-lg-8 fs-md-6 fw-bold">Exclusively designed for you</h1>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="lastMain">
        
      </div>

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pt-10" id="header" style="margin-top: -23rem !important;">

        <div class="container">
          <div class="row g-0">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/admin/products/banner.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/admin/products/banner.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/admin/products/banner.webp" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <!-- <div class="col-md-12">
              <div style="width: 100%;height:100%"><img class="img-fluid" src="/admin/products/banner.webp" alt="..." />
              </div>
            </div> -->
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->

      <section id="categoryWomen">
        <div class="container">
          <div class="row h-100">
            <!-- <div class="col-lg-7 mx-auto text-center mb-6">
              <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Shop By Category</h5>
            </div> -->
            <div class="col-12">
              <nav>
                
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-women" role="tabpanel" aria-labelledby="nav-women-tab">
                    <ul class="nav nav-pills justify-content-center mb-5" id="pills-tab-women" role="tablist">
                    </ul>
                    <div class="tab-content" id="pills-tabContentWomen">
                      <div class="tab-pane fade" id="pills-dresses" role="tabpanel" aria-labelledby="pills-dresses-tab">
                        <div class="carousel slide" id="carouselCategoryDresses" data-bs-touch="false" data-bs-interval="false">
                        </div>
                        <div class="col-12 d-flex justify-content-center mt-5"> <a class="btn btn-lg btn-dark" href="#!">View All </a></div>
                      </div>
                      <div class="tab-pane fade show active" id="pills-wtshirt" role="tabpanel" aria-labelledby="pills-wtshirt-tab">
                        <div class="carousel slide" id="carouselCategoryWTshirt" data-bs-touch="false" data-bs-interval="false">
                          <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="10000">
                              <div class="row h-100 align-items-center g-2">
                                <% allProduct.forEach((product)=>{ %>
                                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                  <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="/admin/products/<%= product.name%>.jpg" alt="..." />
                                    <div class="card-img-overlay ps-0"> </div>
                                    <div class="card-body ps-0 bg-200">
                                      <h5 class="fw-bold text-1000 text-truncate"><%= product.name %></h5>
                                      <div class="fw-bold"><span class="text-600 me-2">$<%= product.price %></span></div>
                                    </div><a class="stretched-link" href="/guestproductdetails/<%= product._id %>"></a>
                                  </div>
                                </div>
                                <%})%>
                              </div>
                            </div>
                            <div class="row">
                              <button class="carousel-control-prev" type="button" data-bs-target="#carouselCategoryWTshirt" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></button>
                              <button class="carousel-control-next" type="button" data-bs-target="#carouselCategoryWTshirt" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next </span></button>
                            </div>
                          </div>
                        </div>
                        <!-- <div class="col-12 d-flex justify-content-center mt-5"> <a class="btn btn-lg btn-dark" href="#!">View All </a></div> -->
                      </div>
                    </div>
                  </div>
              </nav>
            </div>
          </div>
        </div>
      </section>

      


     

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->

      <!-- ============================================-->
      <!-- <section> begin ============================-->
        <section class="py-0 pt-5" style="background-color: rgb(219, 209, 209);">

          <div class="container">
            <div class="row justify-content-center">
              <div class="col-6 col-lg-3 mb-3">
                <h5 class="lh-lg fw-bold" style="color: rgb(123, 114, 114);">Company Info</h5>
                <ul class="list-unstyled mb-md-4 mb-lg-0">
                  <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!">About Us</a></li>
                  <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!">Affiliate</a></li>
                  <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!">Fashion Blogger</a></li>
                </ul>
              </div>
              <div class="col-6 col-lg-3 mb-3">
                <h5 class="lh-lg fw-bold" style="color: rgb(123, 114, 114);">Help &amp; Support</h5>
                <ul class="list-unstyled mb-md-4 mb-lg-0">
                  <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!">Shipping Info</a></li>
                  <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!">Refunds</a></li>
                  <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!">How to Order</a></li>
                  <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!">How to Track</a></li>
                  <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!">Size Guides</a></li>
                </ul>
              </div>
              <div class="col-6 col-lg-3 mb-3">
                <h5 class="lh-lg fw-bold" style="color: rgb(123, 114, 114);">Customer Care</h5>
                <ul class="list-unstyled mb-md-4 mb-lg-0">
                  <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!">Contact Us</a></li>
                  <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!">Payment Methods</a></li>
                  <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!">Bonus Point</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end of .container-->
  
        </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="/user/vendors/@popperjs/popper.min.js"></script>
    <script src="/user/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/user/vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="/user/vendors/feather-icons/feather.min.js"></script>
    <script>
      feather.replace();
    </script>
    <script src="/user/assets/js/theme.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
  </body>

</html>